<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 카메라 권한 추가 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BIND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yoram"
        tools:targetApi="33">
        <activity
            android:name=".YogaSellectActivity"
            android:exported="false" />
        <activity
            android:name=".YogaEndActivity"
            android:exported="false" />

        <receiver android:name=".AlarmReceiver" android:exported="false">
            <intent-filter>
                <action android:name="ALARM_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".FailReceiver" android:exported="false">
            <intent-filter>
                <action android:name="FAIL_ACTION" />
            </intent-filter>
        </receiver>

        <service android:name=".AlarmService" />

        <activity
            android:name=".animated_buttom_bar"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".IntroduceOnboard"
            android:exported="false" />
        <activity
            android:name=".OnboardSettingCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".YogaSetOnboadActivity"
            android:exported="false" />
        <activity
            android:name=".YogaChoiceOnboadActivity"
            android:exported="false" />
        <activity
            android:name=".YogaActivity"
            android:exported="false" />
        <activity
            android:name=".YoramMypage"
            android:exported="false" />
        <activity
            android:name=".YoramSetting"
            android:exported="false" />
        <activity
            android:name=".YoramHome"
            android:exported="false" />
        <activity
            android:name=".AlarmStartActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>